body {
  background-color: #e0e9f0; /* Warna biru muda */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header,
footer {
  background-color: #ffffff; /* Warna putih untuk header dan footer */
  padding: 20px;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
